{% extends 'admin/index.html.twig' %}

{% block title %}Section index{% endblock %}

{% block content %}
    <h1>Section index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Content</th>
                <th>Image_url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td>{{ section.id }}</td>
                <td>{{ section.name }}</td>
                <td>{{ section.slug }}</td>
                <td>{{ section.description }}</td>
                <td>{{ section.content }}</td>
                <td>{{ section.imageUrl }}</td>
                <td>
                    <a href="{{ path('app_section_show', {'id': section.id}) }}">show</a>
                    <a href="{{ path('app_section_edit', {'id': section.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn success" href="{{ path('app_section_new') }}">Create new</a>
{% endblock %}
